.all
  //:background-image image-url("tactile_noise.png")
  :background none
  :backround-repeat repeat
  :font-family 'helvetica neue'
  
table
  :border-collapse collapse
  :width 100%
  
#inner
  //:background-image image-url("bgnoise_lg.png")
  :background none
  :backround-repeat repeat
  :position relative
  :top 30px
  :width 90%
  :left 5%
  :min-height 99%
  :border none
  :border-radius 8px
  :padding 12px
  
#header
  :padding 5px
  :position absolute
  :top 0
  :left 0
  :right 0
  :border-bottom 3px solid rgba(100,100,100,.3)
  :background-color black
  :color white
  :height 30px
  div
    :position relative
    :bottom 0px
    :height 100%
  .h1 
    :float left
    :color #ddd
    :font-size 30px
    :font-family Helvetica
    :letter-spacing -2px
    :word-spacing -5px
    :font-weight 700
  .new  
    :margin-left 10px
    :float left
    a 
      :font-size 17px
      :position relative
      :top 12px
  .invite
    :margin-left 10px
    :float left
    :left 0
    :font-size 17px
    a
      :font-weight 300
      :position relative
      :top 12px
      :color lighten(red, 10%)
  .sign
    :right 1px
    :float right

$textsize: 17px

a
  :color inherit
  :text-decoration none
  &:hover
    :color lighten(black, 20%)
    :background-color inherit
    
h1
  :text-align center

.sign
  :margin-right 10px

.sign a
  :color white
  :font-weight 600
  
  
.username
  :font-family 'helvetica neue'
  :font-weight 400
  :width 40px
      
.menu
  :background-color rgba(100,100,100,.3)
  
.posts tr a
  :color #dddccc
  
.votes
  :color #aaa
  :margin-left 5px
  
$postfont: 'helvetica neue'
    
.post
  :border-collapse collapse
  :width 100%
  :font-size 18px
  :font-family $postfont, arial
  :border-bottom 1px solid #ccc
  :border-top none
  :font-weight 500
  :height 50px
  :background none
  :line-height 14px
  :-webkit-margin-before 1em
  .title small
    :font-size 12px
    :font-weight 200
    :color gray
  td
    &:nth-child(1)
      :width 55px
    &:nth-child(2)
      :width 60%
    &:nth-child(3)
      :min-width 75px
  .title a
    :font-size 15px
    :margin-top 7px
    &:hover
      :text-decoration underline
  &:hover
    :background-color rgba(100,100,100,.2)
    
.user, .comments
  :font-size 13px
  :font-weight 500
    
.url
  :font-size 10px
  :color lighten(black, 50%)
  :font-family arial
.poster
  :font-size 13px
    
.field, .actions
  :text-align center
  
#error
  :text-align center
  
.newpost
  :margin-top 10px
  
#bottom
  :position relative
  :left 0
  :right 0
  :text-align center
