// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors {
  text-align: center;
  width: 100%;
}

.field {
  text-align: center;
}

.video {
  background-color: gray;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  min-width: 450px;
  position:relative;
  left: 25%;
}

.iframe {
  margin: auto;
  padding: 10px;
  width: 440px;
}
