-if notice
  = notice
-if alert
  = alert
  
%head
  =stylesheet_link_tag "main", "application"
  =javascript_include_tag "application"
%body.all
  #inner
    %table
      %colgroup.left
      %colgroup.two
      %colgroup.last
      %thead
        %tr.main
          %th.h1= link_to "Shreddy News", :action => 'index', :controller => 'posts'
          %th 
            %a{href: "#"} About
          %th
    =yield


